.Contact{}
.contactText{
    width: 50%;
}

.contactText h3{
    font-size: xx-large;
    padding: 20px;
}
.contactText p{
    line-height: 1.8;
}

.contactForm{
    width: 40%;
    height: 500px;
    background-color: azure;
    padding: 40px;
    border-radius: 10px;
}
.contactForm input,
.contactForm p
{

    margin-bottom: 20px;
}
.contactName{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.contactName input{
    width: 48%;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
}
.contactSubject{
    width: 100%;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
}
.contactMessage{
    width: 100%;
    height: 100px;
}
